= render :partial => '/admin/banners/secondary_nav'

    
- for banner in @banners
  %h2.content-title
    = h banner.title
  .content-links
    %ul
      %li
        = link_to "#{image_tag ("admin/icons-small/ok.png", :border =>0, :title => 'Ads')}Ads", admin_banner_path(banner)
      %li
        = link_to "#{image_tag ("admin/icons-small/edit.png", :border =>0, :title => 'Edit')}Edit", edit_admin_banner_path(banner)
      %li
        = link_to "#{image_tag ("admin/icons-small/delete.png", :border =>0, :title => 'Delete')}Delete", "/admin/banners/#{banner.id}", :method => :delete, :confirm => "Are you sure?"
  .clear